@model MvcMovie.Models.AccountUser

<div class="container">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-success">
                @TempData["SuccessMessage"]
            </div>
        }
    <div class="row justify-content-center">
        <div class="col-md-6">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Name"></label>
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>

                 <div class="form-group">
                     <label asp-for="Role">Select Role</label>
                     <select asp-for="Role" class="form-control">
                         <option value="Admin">Admin</option>
                         <option value="User">User</option>
                         <option value="Moderator">Moderator</option>
                     </select>
                     <span asp-validation-for="Role" class="text-danger"></span>
                 </div>

                <div class="form-group mt-2" method="post">
                    <button type="submit" class="btn btn-primary">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
